.projectContainer {
    height: min-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    animation: moveInLeft 1.2s ease;
}

.mainContainer {
    margin-top: 65px;
    width: 900px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.projectCart {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.projectName {
    line-height: 1.2;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    background-color: #767676;
    border-radius: 20px;
    text-align: center;
}

.h6 {

}

.cardSpanText {
    height: min-content;
    width: 32%;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1300px ) {
    .projectCart {
        gap: 40px;
    }

    .cartContainer {
        gap: 80px;
    }

    .mainContainer {
        width: 850px;
    }
}

@media screen and (max-width: 1250px ) {
    .projectCart {
        gap: 20px;
    }

    .h6 {
        margin-left: 28px;
    }
}


@media only screen and (max-width: 850px) {
    .projectCart {
        flex-direction: column;
    }

    .mainContainer {
        width: 700px;
    }

    .cardSpanText {
        width: 500px;
    }
}