.button {
    width: 15px;
    height: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
}

@media screen and (min-width: 1300px ) {
    .button {
        display: none;
    }
}