.contentContainer {
    float: right;
    width: calc(100% - 450px);
    height: max-content;
    background-color: #F8F8F8;
}

.darkBackground {
    filter: brightness(50%);
    width: max-content;
    height: max-content;
}


@media screen and (max-width: 1600px ) {
    .contentContainer {
        width: calc(100% - 350px);
    }
}


@media screen and (max-width: 1500px ) {
    .contentContainer {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 1300px ) {
    .contentContainer {
        float: none;
        width: min-content;
        display: flex;
        justify-content: center;

    }
}
