.projectCardContainer {
    position: relative;
    width: 550px;
    height: 300px;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 10px;
    order: 1;
}

.btnContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
}

.img {
    width: 550px;
    height: 300px;
    float: left;
    position: relative;
    overflow: hidden;
    filter: grayscale(70%);
    transition: all 0.5s;
}

.imgHover {
    height: 100%;
    transform: scale(1.25);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    filter: blur(3px) brightness(80%) grayscale(70%);
    transition: all 0.5s;
}


@media only screen and (max-width: 1300px) {
    .projectCardContainer {
        width: 500px;
    }
}


@media only screen and (max-width: 850px) {

    .projectCardContainer {
        width: 600px;
    }

    .img {
        height: 100%;
        transform: scale(1.25);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        filter: blur(3px) brightness(80%) grayscale(70%);
        transition: all 0.5s;
    }

}


@media only screen and (max-width: 630px) {
    .projectCardContainer {
        width: 450px;
    }
}

@media only screen and (max-width: 450px) {
    .projectCardContainer {
        width: 250px;
        height: 150px;
    }
}