.mainBlock {
    height: 100vh;
    background-color: #d08383;

}

.greeting {
    width: 300px;
    background-color: #969696;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #969696;
}

