@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@1000&display=swap');

.navbar {
    height: 100vh;
    width: 450px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContainer {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav {
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    text-decoration: none;
    color: #767676;
    transition: 300ms;
}

.nav a:hover {
    letter-spacing: 2.3px;
    color: black;
}

.navTopWord {
    font-family: "Mulish";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 10px;
    word-wrap: break-word;
}

.nav a.active {
    letter-spacing: 2.3px;
    color: black;
}

.link {
    color: #767676;
    outline: none;
    text-decoration: none;
}