.contactsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: moveInLeft 1.2s ease;
}

.contactText {
    font-size: 18px;
}

.contactLink {
    text-decoration: none;
    background-color: #767676;
    color: white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.formContainer {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.alert {
    position: fixed;
    top: 10%;
    margin: auto;
    transition: all 500ms;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media only screen and (max-width: 1350px) {
    .formContainer {
        width: 600px;
    }
}